.deviceContainer {
  background: #f0f0f0;
  height: 100%;
  width: 98%;
  position: absolute;
  top: 0px;
  left: 0px;
  /* overflow: auto; */
  box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.27);
}

.pd0-LR {
  padding-left: 0px;
  padding-right: 0px;
}

.deviceHeader {
  background-color: #484280;
  padding: 10px 5px;
}

.deviceHeader .dropdown-toggle::after {
  border: 0px !important;
}

.deviceHeader .dropdown-menu {
  border-radius: 0px;
  top: 130%;
  left: -13%;
  z-index: 99999;
}

.deviceHeader .dropdown-menu:after,
.deviceHeader .dropdown-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.deviceHeader .dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}

.deviceHeader .dropdown-menu:before {
  border-color: rgba(251, 151, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-width: 16px;
  margin-left: -16px;
}

.deviceHeader .dropdown-menu li {
  font-size: 13px;
  color: #333333;
  padding: 2px 5px;
}

.deviceLogo {
  width: 80%;
}

.addDeviceHead {
  background-color: #f1f1f1;
  padding: 5px 15px;
}

.addDeviceHead h4 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

.addDeviceHead a {
  color: #0071AA;
  font-size: 12px;
}

.listGroup {
  padding: 0px;
  margin: 0px
}

.listItem {
  background-color: #fafafa;
  border-bottom: 1px solid #eaeaea;
  display: flex;
}

.listItem.active {
  border: 1px solid #FB9700;
  border-left-width: 6px;
  position: relative;
  width: 102%;
  z-index: 9999;
}

.listItem.active:after,
.listItem.active:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.listItem.active:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 15px;
  margin-top: -15px;
}

.listItem.active:before {
  border-color: rgba(251, 151, 0, 0);
  border-left-color: #FB9700;
  border-width: 16px;
  margin-top: -16px;
}

.detailsWrap {
  padding: 15px 0;
  width: 100%;
}

.details {
  width: 180px;
  padding: 15px 0;
}

.detailLine {
  width: 100%;
  text-align: left;
}

.detailLine .left {
  float: left;
  width: 85%;
}

.detailLine .right {
  float: left;
  width: 15%;
}

.detailLine.title h5 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333333;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detailLine.title .right img {
  margin-top: -15px;
}

.detailLine.desc p {
  font-size: 12px;
  margin-bottom: 5px;
  line-height: 15px;
  color: #333333;
}

.detailLine.precauition .left a {
  font-weight: 600;
  font-size: 15px;
}

.detailLine.precauition a.safe {
  color: #21804A;
}

.detailLine.precauition a.risk {
  color: #FB9700;
}

.detailLine.precauition a.unsafe {
  color: #D12C2C;
}

.detailLine.precauition .right .riskIcon {
  position: relative;
  top: -4px;
}

.supportIcons {
  padding: 10px 0;
}

.supportIcons img {
  display: block;
}

.supportIcons img.riskIcon {
  margin-top: 30px;
}

.routeIcon {
  width: 100%;
  text-align: left;
}

.routeIcon ul {
  margin: 0;
  padding: 0;
}

.routeIcon li {
  list-style: none;
  display: inline-block;
  width: 60px;
  text-align: center;
  cursor: pointer;
}

.routeIcon li span {
  display: block;
  font-size: 12px;
  color: #0071AA;
  line-height: 14px;
}

.addDeviceForm {
  position: absolute;
  right: -300px;
  top: 0px;
  padding: 10px;
  background: #fff;
  width: 300px;
  z-index: 999;
  height: 100%;
}
