@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
body {
  font-family: 'Montserrat', sans-serif !important;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  background-color: #fc9700;
  border-color: #fc9700;
}

.btn-primary:hover {
  color: #fff;
  background-color: #484280;
  border-color: #484280;
}

.form-control {
  border-radius: 2px;
  font-size: 14px;
}

.form-control:focus {
  border-color: #484280;
}

.form-group {
  text-align: left
}
