<section class="container-fluid">
    <div class="row">
      <div class="col-md-3 pd0-LR">
        <div class="deviceContainer">
          <div class="deviceHeader clearfix">
            <a href="javascript:;" class="float-left">
              <img class="deviceLogo" src="assets/images/theme-dark/logo-bloct-v2-white.png">
            </a>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown text-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="assets/images/theme-light/button-hamburgermenu-white.png">
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="javascript:;">Manage Profile</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="javascript:;" (click)="logout()">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="addDeviceHead clearfix">
            <h4 class="float-left">{{currentDevice?.deviceName}} Details</h4>
            <a href="javascript:;" class="float-right" (click)="back()"> Back
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-9 pd0-LR">
          <div>Video Feed</div>
          <div>{{date}}</div>
      </div>
    </div>
  </section>
  