<div>
  <div class="left-pane">
    <div class="logo">
        <img style="float: left" [src]="apiService.LOGO">
      <div class="dropdown" dropdown style="float: right !important">
        <a dropdown-open>{{currentUser?.firstName}} {{currentUser?.lastName}}</a>
        <ul class="dropdown-menu">
          <li>
            <a>Manage Profile</a>
          </li>
          <li>
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div style="float: left">{{currentDevice?.deviceName}} Details</div>
      <button style="float: right" (click)="back()">Back</button>
    </div>
  </div>
  <div class="right-pane">
    <div class="logo">
        <div style="float: left">Video Feed</div>
        <div style="float: right">{{date}}</div>
        <iframe width="100%" height="300" src="https://video.nest.com/live/wBT8p6"></iframe>
    </div>
  </div>
</div>
